[submodule "Machine Learning/Iranian-Traditional-Music-Dastgah-Classifier"]
	path = Machine Learning/Iranian-Traditional-Music-Dastgah-Classifier
	url = https://github.com/OmidPanakari/Iranian-Traditional-Music-Dastgah-Classifier
